:root {
  --color-blue: #203077;
  --color-orange: #ea952f;
  --color-red: #b64426;
  --color-purple: #55396c;
  --color-gray: #43464c;
  --color-splitter: #c4badf;
  --footer-size: 16px;
  --content-size: 18px;
  --header-size: 32px;
  --highlight-size: 7rem;
}
body {
  min-width: 375px;
  margin: 0;
  color: var(--color-gray);
}

.page-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.content-wrapper {
  width: 100%;
  margin: 0 5%;
  padding: 20px;
  max-width: 1300px;
  box-sizing: border-box;
}
@media screen and (max-width: 480px) {
  :root {
    --header-size: 20px;
    --content-size: 14px;
    --highlight-size: 3rem;
  }
  .content-wrapper {
    margin: 0;
  }
  .chart-container {
    max-height: 500px;
    flex-direction: column;
  }
  .footer {
    flex-direction: row;
    gap: 10px;
  }

  .footer-section {
    text-align: center;
  }

  .arrow {
    display: none;
  }
}
header {
  text-align: center;
  padding-top: 20px;
  font-size: var(--header-size);
  font-weight: 900;
  color: var(--color-blue);
  padding-bottom: 20px;
}
.title {
  font-size: var(--header-size);
  font-weight: bold;
  color: var(--color-blue);
}
.text-block-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.highlight-block {
  width: 100%;
  margin: 0 5%;
  text-align: center;
  font-size: var(--content-size);
}
.block-splitter {
  margin: 5% 0;
  border: 1px solid var(--color-splitter);
  border-radius: 10px;
  max-width: 10px;
  min-width: 10px;
  height: 8em;
  background-color: var(--color-splitter);
}
.text-block {
  width: 45%;
  font-size: var(--content-size);
}
.highlight-num {
  font-weight: bold;
  font-size: var(--highlight-size);
  color: var(--color-purple);
}
strong {
  font-weight: bold;
}
.chart-container {
  padding: 10px;
  display: flex;
  border-radius: 10px;
  box-shadow: 2px 4px 10px rgba(255, 182, 193, 1);
  border: 2px solid rgba(255, 182, 193, 0.5);
}
.chart-container img {
  flex: 1;
  width: 50%;
  height: 100%;
}
.section-container {
  min-height: 600px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 10px 30px;
}

.octagon-container {
  position: relative;
  width: 50%;
}

.octagon {
  position: relative;
  overflow: hidden;
  border-radius: 30px;
  clip-path: polygon(
    30% 0%,
    70% 0%,
    90% 30%,
    90% 70%,
    70% 90%,
    30% 90%,
    10% 70%,
    10% 30%
  );
}

.octagon img {
  width: 100%;
  height: 100%;
  object-fit: fill;
  border-radius: 30px;
}

.caption {
  text-align: center;
  margin-top: 20px;
  font-style: italic;
  color: #666;
}

.description {
  display: flex;
  flex-direction: column;
}

.description-bottom {
  background-position: center;
  padding: 0 50px;
  flex: 1;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url("./assets/Child-and-Family/dialog.png");
}
.description-bottom p {
  text-align: center;
  top: 25%;
  margin-block: 0;
  position: relative;
  font-weight: bold;
  color: var(--color-purple);
  font-size: var(--content-size);
}
.description-bottom span {
  position: absolute;
  bottom: 6%;
  font-weight: bold;
  color: var(--color-purple);
  font-size: var(--content-size);
  left: 60%;
}
/* @media (width <1200px) {
  .description-bottom {
    background-image: none;
  }
} */
.color-background {
  background-color: #f3f9f9;
}
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #89a1ae;
  padding: 10px;
  margin-bottom: 10px;
  color: white;
  font-family: Arial, sans-serif;
}
.footer-section {
  color: white;
  flex: 1;
  font-size: var(--footer-size);
  text-transform: uppercase;
}

.left {
  text-align: left;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

.arrow {
  width: 30px;
  height: 30px;
  margin: 0 20px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.arrow-left {
  background-image: url("./assets/SVGs/arrow-88-64.png");
}
.arrow-right {
  background-image: url("./assets/SVGs/arrow-24-64.png");
}
