:root {
  --color-blue: #203077;

  --content-size: 20px;
  --header-size: 32px;
}
body {
  min-width: 375px;
  margin: 0;
}
.container {
  padding: 20px 0 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
header {
  text-align: center;
  padding-top: 20px;
  font-size: var(--header-size);
  font-weight: 900;
  color: var(--color-blue);
  padding-bottom: 20px;
}

.bold {
  font-weight: 900;
}
.blue {
  color: var(--color-blue);
}

.content {
  text-align: center;
  padding-top: 10px;
  font-size: var(--content-size);
}
.img-container {
  min-height: 600px;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.img-content {
  padding: 10px;
  flex: 1;
  display: flex;
  font-size: var(--content-size);
  align-items: center;
}
.img-content-description {
  flex: 0 0 40%;
  text-align: left;
  font-size: var(--content-size);
}
.img-content-chart {
  flex: 1;
  display: flex;
  justify-content: space-around;
}
progress {
  width: 80%;
  height: 20px;
}
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #89a1ae;
  padding: 10px;
  margin-bottom: 10px;
  color: white;
  font-family: Arial, sans-serif;
}

.custom-button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: white;
  border: none;
  border-radius: 40px;
  padding: 15px 30px;
  font-size: var(--content-size);
  font-weight: bold;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  outline: none;
  gap: 10px;
}

.button-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f5bb30;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background-image: url("./assets/SVGs/arrow-24-64.png");
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center;
}

.footer-section {
  color: white;
  flex: 1;
  font-size: var(--content-size);
  text-transform: uppercase;
}

.left {
  text-align: left;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

.arrow {
  width: 30px;
  height: 30px;
  margin: 0 20px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.arrow-left {
  background-image: url("./assets/SVGs/arrow-88-64.png");
}
.arrow-right {
  background-image: url("./assets/SVGs/arrow-24-64.png");
}
